!!! 5
%html
  %head
    %title= "Your Website"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
  %body
    %header
      %nav
        %ul
          %li= "Menu Item"
          %li= "Menu Item 3"
